using Orchard.ContentManagement;
using Orchard.ContentManagement.Records;

namespace $rootnamespace$.Models
{
    public class $contentpartname$Part : ContentPart<$contentpartname$PartRecord>
    {
$infosetproperties$
    }


    public class $contentpartname$PartRecord : ContentPartRecord
    {
$virtualproperties$
    }
}