using Orchard.ContentManagement.Handlers;
using System;
using System.Collections.Generic;
using System.Linq;
using System.Text;
using System.Threading.Tasks;

namespace $rootnamespace$.Handlers
{
    public class $contentpartname$PartHandler : ContentHandler
    {
        public $contentpartname$PartHandler()
        {
            Filters.Add(new ActivatingFilter<$contentpartname$UserPart>("User"));
        }
    }
}